.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map {
  background-color: black;
  height: 500px;
}

.row {
  margin-top: 1.5em;
}

.green{
  background-color: rgb(31, 151, 31);
  color: white;
}
.yellow{
  background-color: rgb(255, 238, 0);
}
.orange{
  background-color: rgb(255, 145, 0);
  color: white;
}
.red{
  background-color: rgb(206, 28, 28);
  color: white;
}
.purple{
  background-color: rgb(93, 23, 121);
  color: white;
}
.brown{
  background-color: rgb(70, 16, 14);
  color: white;
}
.h1m{
  margin: auto;
}
h1{
  font-size: 5em;
}